$theme-color: #169E20;
$active-color: #088245;
$fail-color: #d5d5d5;

$text-main-color: #252525;
$text-article-color: #555;
$text-info-color: #999;
$text-warn-color: #f28220;

$input-color: #555;

$btn-main-color: #006633;

$border-color: #EAEAEA;

$bg-color: #f7f7f7;

$f-normal-size: 0.30rem;
$f-small-size: 0.24rem;
$f-large-size: 0.46rem;

$white: #fff;
$black: #000;
